/*.ibuttons
{
	
	padding: 50px;
    font-size: 30px;
    text-align: left;
    vertical-align: top;
    min-height: 100px;
   /* background: #8eccc6;*
    margin-bottom: 10px;
    

}*/

.ibuttons
{
	
	  padding: 50px;
    font-size: 35px;
    align-self: center;
    /*text-align: left;
    vertical-align: unset;*/
    
   /* min-height: 100px;
   /* background: #8eccc6;*/
    /*margin: 10px;*/
    

}
/*.ibutton3
{
	
	padding: 50px;
    font-size: 30px;
    text-align: left;
    min-height: 100px;
    vertical-align: bottom;
   /* background: #8eccc6;*
    margin-bottom: 10px;
    

}
.ibutton4
{
	
	padding: 50px;
    font-size: 30px;
    text-align: right;
    vertical-align: bottom;
    min-height: 100px;
   /* background: #8eccc6;*
    margin-bottom: 10px;
    

}*/
.mbuttons
{
	  background-image: url("https://media.giphy.com/media/l41YkkX5ajFozMWaY/giphy.gif");
   /* background-position: center;
    padding: 216px;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*align-self: center;*/


}

/*.example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}*/

