html, body {
    background-image: url(Images/li-jiangang-b4lS_gXkQp0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: visible;
}


.navigation {
    display: flex;
  justify-content: center;
}

.header {
    text-align: center;
    font-style: oblique;
    font-family: 'Permanent Marker', cursive;
    font-size: 75px;
    overflow: hidden;
    cursor: pointer;
    color: black;
    text-shadow:
    -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Caveat Brush', cursive;
    font-size: 40px;
    overflow: hidden;    
}

.navi {
    float: left;
    text-anchor: middle;

}

.navi a {
    display: block;
    color:black;
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: color 250ms ease-in;
}

.navi a:hover {
    background-color: black;
    color: white;
    
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;    
}

.modal {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    color: #333;
    line-height: 2;
    max-width: 80%;
    padding: 1rem 2rem;
    font-family: 'Mansalva', cursive;
    
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  
    }
.warning {
    display: none;
    }
}  

.bottombar {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;   
    
}

footer {
    position: fixed;     
       text-align: center;    
       bottom: 0px; 
       width: 100%;
}

.foot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    overflow: hidden;
    position: fixed;
    bottom: 0px; 
}

.endi {
    float: left;
    text-anchor: middle;
    display: block;
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
}

.endi a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
}

